#about{
    padding:30px 50px;
}
#about-box{
    background-color:rgba(0, 0, 0, 0.568);
    text-align:center;
    width:100%;
    height:300px;
    color:white;
    padding-top:100px;
    
}

#about-box u{
    margin:20px 0px 40px 0px;
    font-size:55px;
}
h6{
    font-size:24px;
}