#center-body{
    border:none;
    background-color:rgb(207, 173, 131);
    width:95%;
    margin:40px 30px;
    padding-top:80px;
    padding-bottom:80px;
    text-align:center;
    
}

#center-body div{
    display:inline-block;
    width:25%;
    height:500px;
    border: 5px solid rgb(255, 255, 255);
    vertical-align: top;
    margin:20px 20px;
    text-align:center;
    background-color: rgb(255, 255, 255);
}

.images{
    display:inline-block;
    width:100%;
    height:400px;
    vertical-align:top;
    object-fit:cover;
    
}

p{
    font-size:24px;
    color:rgb(85, 116, 2);
    margin:20px 0px 8px 0px;
    font-weight:bold;
}

u{
    font-size:20px;

}