*{
    padding:0;
    margin:0;
    
}
body{
    background-color:rgb(156, 255, 153);
}

h1{
    font-size:60px;
    text-align:center;
    margin:100px;
}
div{
    text-align:center;
}
#name{
    width:300px;
    
}
#mobile{
    width:300px;

}
#location{
    width:300px;
    height:100px;
    
}

table{
    margin:auto;
}
label{
    font-weight:bold;
    font-size:35px;
}
#name,#mobile,#location{
    margin-left:40px;
    padding:20px 15px;
    margin-top:20px;
}
#order-box{
    border: 5px double darkblue;
    width:800px;
    height: 500px;
    margin-left:240px;
    padding:50px;
    
}

button{
    width:500px;
    background-color: blue;
    color:white;
    padding:20px 50px;
    margin-top:50px;
}

#last{
    background-color:rgb(16, 35, 88) ;
    
    width:100%;
    height:150px;
    padding-top:20px;
    margin-top:20px;

}

#last h3{
    margin-top:80px;
    color:white;
    font-size:42px;
   
   
}
a{
     text-decoration: none;
}

#last h3:hover{
    color:yellow;
}